# Information Visualization
## Coursework 2

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from countries import countries

%matplotlib inline

In [2]:
country_names = [c['name'] for c in countries]
pollution = pd.DataFrame(np.random.uniform(0, 100, (20, len(country_names))),
                         columns=country_names,
                         index=reversed(pd.date_range(start='2000', end='2020', freq='Y')))
pollution.head()

,Andorra,Afghanistan,Antigua and Barbuda,Albania,Armenia,Angola,Argentina,Austria,Australia,Azerbaijan,...,Saint Vincent and the Grenadines,Samoa,Serbia,South Africa,Spain,Sri Lanka,Swaziland,Switzerland,United Arab Emirates,United Kingdom
2019-12-31,60.468742,89.416406,69.827326,24.633507,76.252173,32.698437,67.270898,57.948246,44.428062,75.247036,...,87.946493,40.419300,28.080671,15.643871,52.539220,28.711860,88.393476,70.794042,23.633056,24.416341
2018-12-31,62.242885,1.768498,12.854346,9.576619,12.153559,26.388530,69.179100,3.441822,95.172424,32.364816,...,13.028732,17.311874,98.055057,62.835765,74.610285,45.871138,35.196234,63.680702,34.420386,68.349433
2017-12-31,53.029563,45.364398,64.938247,25.372896,47.863498,14.123066,99.271819,76.267584,20.715112,55.134765,...,69.271744,56.406446,62.578423,88.352855,44.104454,72.099792,92.800870,63.414484,45.924346,95.463164
2016-12-31,75.548242,17.797138,86.479442,45.028915,18.046559,62.211412,60.551600,70.013880,51.608841,98.045255,...,74.607372,6.722146,18.776471,56.613330,85.827460,69.956096,26.933974,97.989062,87.010931,33.090318
2015-12-31,61.964916,19.636050,85.360395,12.445225,18.973299,44.975842,0.721436,80.281852,80.222895,38.923779,...,59.183618,19.890395,90.062008,22.599991,26.508515,54.580014,84.409603,5.706796,21.097659,59.316268